:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Darker Grotesque", sans-serif;
  --gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

body {
  background: black;
  color: white;
  font-family: var(--secondary-font);
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* HEADER */

header {
  background-image: var(--gradient), url(/images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  text-align: center;
}

header h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0 auto;
}

header h2 {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 10px 0;
}

a.button {
  background-color: black;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 15px 30px;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* MAIN SECTION */

main .first-section {
  padding: 100px 60px;
  margin: 0 auto;
}

main h2 {
  font-family: var(--primary-font);
  font-size: 15px;
  letter-spacing: 5px;
  opacity: 0.5;
  text-transform: uppercase;
}

main h3 {
  font-size: 36px;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

main p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.3;
  opacity: 0.7;
}

.img-responsive {
  width: 100%;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.afterlife-info {
  align-self: center;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* UNITY SECTION */

main .secondary-section {
  background: var(--gradient), url(/images/unity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 100px;
}

.secondary-section h2,
.secondary-section h3 {
  text-align: center;
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.card {
  background: #00000083;
  margin: 50px auto;
  border-radius: 5px;
}

.card-body {
  padding: 0 20px;
}

.card-footer {
  text-align: center;
  padding: 20px 30px;
}

.card-footer .button {
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.1);
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: rgba(8, 8, 8, 0.668);
}

main h4 {
  font-size: 25px;
  margin: 8px auto;
  letter-spacing: 3px;
  font-weight: 600;
}

main h5 {
  font-size: 16px;
  margin: 10px auto;
  letter-spacing: 2px;
}

.card-header.grid-2-col {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
/* //////////////////////////////////////////////////////////////////////////////// */
.third-section-header {
  padding-top: 50px;
  text-align: center;
}

.third-section-header p {
  margin-top: 5px;
  font-weight: 100;
}

.gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
}

.gallery-container {
  width: 60%;
  padding: 60px 60px 100px;
  margin: 0 auto;
}

.podcast {
  position: relative;
}

.podcast img {
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.podcast .podcast-btn {
  bottom: 45%;
  position: absolute;
  opacity: 0;
  transition: all 400ms ease-in-out;
  text-align: center;
  width: 100%;
}

a.link-text {
  border: 1px solid rgba(255, 255, 255, 0.22);
  padding: 5px 25px;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
}

.podcast:hover img {
  filter: brightness(50%);
  box-shadow: 2px 4px 20px 2px rgba(255, 255, 255, 0.22);
}

.podcast:hover .podcast-btn {
  opacity: 1;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* FOOTER */

footer {
  background-image: var(--gradient), url(/images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 60px;
}

footer h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 300;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.7;
  line-height: 1;
  transition: all 200ms ease-in-out;
}
footer p {
  letter-spacing: 1px;
}

footer a:hover {
  opacity: 1;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-2-col-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.first-col {
  text-align: center;
  border-right: 1px solid white;
  padding-right: 20px;
}

.icons {
  margin-top: 15px;
}

.icons i {
  font-size: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 992px) {
  header h1 {
    font-size: 76px;
  }

  header h2 {
    font-size: 20px;
  }

  header a {
    font-size: 16px;
    padding: 13px 26px;
  }

  main h2 {
    font-size: 14px;
  }
  main h3 {
    font-size: 30px;
  }

  main h4 {
    font-size: 21px;
    margin-top: 20px;
  }

  main h5 {
    font-size: 14px;
  }
  main p {
    font-size: 16px;
  }

  footer a {
    display: inline-block;
    margin-top: 2px;
  }

  .grid-2-col {
    grid-template-columns: 1fr;
  }

  .grid-3-col {
    grid-template-columns: 1fr;
    margin-top: 20px;
    grid-gap: 10px;
  }

  main .secondary-section {
    padding: 30px 60px;
  }

  .card {
    margin: 10px auto;
  }

  .card img {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-container {
    padding: 30px 60px 50px;
  }

  .first-col {
    text-align: left;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 767px) {
  header h1 {
    font-size: 56px;
  }

  header h2 {
    font-size: 15px;
  }

  header a {
    font-size: 12px;
    padding: 11px 22px;
  }

  main h2 {
    font-size: 10px;
  }
  main h3 {
    font-size: 24px;
  }
  main p {
    font-size: 12px;
  }

  main h4 {
    font-size: 16px;
  }

  main h5 {
    font-size: 10px;
  }

  footer h3 {
    font-size: 14px;
    margin: 3px 0;
  }
  footer ul {
    margin: 3px 0;
  }

  footer a {
    font-size: 12px;
  }

  footer p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 auto;
  }

  .icons i {
    font-size: 15px;
  }

  .grid-2-col-narrow {
    grid-template-columns: 1fr;
  }

  .grid-3-col {
    margin-top: 8px;
  }

  .first-col {
    border: none;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 576px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 36px;
    letter-spacing: 3px;
  }

  header h2 {
    font-size: 10px;
    letter-spacing: 2px;
  }

  a.button {
    font-size: 8px;
    letter-spacing: 1px;
    margin-top: 13px;
    padding: 9px 18px;
  }

  a.button.link-text {
    font-size: 6px;
    padding: 4px 13px;
  }

  /* main h2 {
    font-size: 8px;
  }
  main h3 {
    font-size: 18px;
  }
  main p {
    font-size: 8px;
    letter-spacing: 1px;
  }

  main h4 {
    font-size: 12px;
  }

  main h5 {
    font-size: 8px;
  } */

  main .first-section,
  main .secondary-section {
    padding: 30px 20px;
  }
  footer {
    padding: 30px 20px;
  }
  footer h3 {
    font-size: 14px;
  }
}
